<div id="<%= dom_id finding %>">
  <p>
    <strong>Audit:</strong>
    <%= finding.audit_id %>
  </p>

  <p>
    <strong>Title:</strong>
    <%= finding.title %>
  </p>

  <p>
    <strong>Severity:</strong>
    <%= finding.severity %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= finding.description %>
  </p>

  <p>
    <strong>Remediation:</strong>
    <%= finding.remediation %>
  </p>

  <p>
    <strong>Due on:</strong>
    <%= finding.due_on %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= finding.status %>
  </p>

</div>
