<p style="color: green"><%= notice %></p>

<%= render @finding %>

<div>
  <%= link_to "Edit this finding", edit_finding_path(@finding) %> |
  <%= link_to "Back to findings", findings_path %>

  <%= button_to "Destroy this finding", @finding, method: :delete %>
</div>
