<div id="<%= dom_id audit %>">
  <p>
    <strong>Title:</strong>
    <%= audit.title %>
  </p>

  <p>
    <strong>Owner:</strong>
    <%= audit.owner %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= audit.status %>
  </p>

  <p>
    <strong>Due on:</strong>
    <%= audit.due_on %>
  </p>

  <p>
    <strong>Details:</strong>
    <%= audit.details %>
  </p>

</div>
